
@{
    ViewBag.Title = "_LayOutAdmin";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <title></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:700,400" />
        <link rel="stylesheet" href="~/asset/css/style.css" />
        <script src="~/asset/js/jquery-2.1.4.min.js"></script>
        <script src="~/asset/js/bootstrap.min.js"></script>
        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: '.tinymce',
                height: 500, 
                plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                ],
                toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
            });
        </script>

    </head>
    <body>
        <div class="warp">
            <div class="sidebar-admin">
                <ul class="menu-admin">
                    <li>Menu</li>
                    <li>
                        <a href="@Url.Action("Index", "Product")">Product</a>
                        <ul class="sub-menu-admin">
                            <li>
                                <a href="@Url.Action("Index", "Product")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Product")">Add</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "ProductType")">Product type</a>
                        <ul class="sub-menu-admin">
                            <li>
                                <a href="@Url.Action("Index", "ProductType")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "ProductType")">Add</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>

    </body>
</html>

